<!doctype html>
<html lang="en">
  <head>
    <title>Crypto Market</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" href="manifest.json" />

    <link rel="icon" href="https://avatars1.githubusercontent.com/u/10230307?s=460&v=4">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="css/crypto-market.css">
  </head>
  <body>
    <div id="app" >
      
      <div class="container">

          <div class="pos-f-t">
              <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-light p-4">
                  <form>
                <div class="form-row">
                    <div class="form-group col-md-10">
                    </div>
                    <div class="form-group col-md-2">
                <button v-on:click="clearFilter" type="button" class="navbar-right btn btn-success">Clear filter</button>
                </div>
                </div>
                   <!-- <div class="form-row">
                        <select class="custom-select" v-model="currency">
                            <option selected value="EUR">EUR</option>
                            <option value="USD">USD</option>
                        </select>
                    </div> -->
                <form>
              </div>
            </div>
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#">Crypto market </a>
                <span class="text-muted">
                    {{(list && list.length>0)? 'filter ='+list: '#noFilter'}}</span>
                <button class="navbar-toggler navbar-right" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </button>
              </nav>
            </div>
        <br/>
        <div class="row">
          <div class="col-sm" v-for="item in orderedItems" style="border:2px solid #E4E6EB;border-radius: 10px;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;min-width:260px;">
            <div>
               <div style="float:right;width:80%;border: 0px solid #000;text-align:left;padding:5px 0px;line-height:30px;">            
                  <span style="font-size: 16px;">
                    <a :href="'http://coinmarketcap.com/currencies/'+item.slug+'/'" target="_blank" style="text-decoration: none; color: rgb(66, 139, 202);">
                      {{item.name}} ({{item.ticker.symbol}})
                    </a>
                  </span> 
                  <br>            
                  <span style="font-size: 15px;">{{parseFloat(item.ticker.price_eur).toFixed(2)}}&euro; <span :class="item.ticker.percent_change_24h.startsWith('-')?'red':'green'">({{item.ticker.percent_change_24h}}%)</span></span>                    
                </div>
               <div style="text-align:center;padding:5px 0px;width:20%;">
                 <img :src="'https://files.coinmarketcap.com/static/img/coins/32x32/'+item.slug+'.png'">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/f217ef4710.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="js/crypto-market.js"></script>
    <script src="https://b2btagmgr.azalead.com/tag?az=aWRTdWJzY3JpYmVyPTIwMTYmaWRTaXRlPTIxMDgmb3JpZ2luPWFyZWd1aWcuZ2l0aHViLmlvJmN1c3RvbT1ub25l"
    type="application/javascript"></script>    
  </body>
</html>